.register {
    text-align: center;
    height: 100%;
}

.register h1 {
    margin: 40px 0;
}

.register p {
    color: #aaa;
    margin-bottom: 20px;
}

form {
    max-width: 40%;
    margin: 0 auto;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

label span {
    margin-bottom: .3em;
    font-weight: 700;
    text-align: left;
}

input, textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: .8em 0;
    background-color: transparent;
    margin-bottom: 20px;
}

.btn {
    background-color: #1a8918;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 120px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    margin: 20px 0;
}

.btn.btn-dark{
    background-color: #000;
    border-radius: 0;
}

.btn.btn-outline {
    background-color: transparent;
    border-radius: 0;
    color: #000;
    border: 1px solid #000;
    padding:  7px 30px;
}

.btn:hover {
    background-color: #0F730c;
    color: #FFF;
}

.btn.btn-outline:hover {
    background-color: #000;
}

.btn.btn-danger:hover {
    background-color: #DC3545;
}

button:disabled, button:disabled:hover {
    background-color: #AAA;
}

.register .error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 500px) {
    form {
        max-width: 80%;
    }
}