.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard p {
    text-align: center;
    margin-bottom: 1em;
}

.dashboard > p {
    color: #AAA;
    margin-bottom: 2em;
    font-size: 18px;
}

.noposts {
    text-align: center;
}

.noposts p {
    margin: 2.5em;
}

.noposts a {
    padding: 10px 25px;
}

.post_header, .post_row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
}

.post_header {
    font-weight: bold;
    border: 2px solid #ccc;
    font-size: 20px;
}

.post_row {
    align-items: center;
    border-bottom: 1px solid #EEE;
}

.post_row div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 50%;
}

.post_row button, .post_row a {
    margin: 5px;
    height: 30px;
    width: 100px;
    font-size: .7em;
    flex-shrink: 1;
}