.search_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_container .result > p {
    margin: 20px auto 40px;
}

.search_container .result > a {
    display: block;
    margin: auto;
}

.search_form {
    max-width: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    flex-wrap: wrap;
}

.search_form input {
    margin-right: 10px;
    width: 50%;
    min-width: 150px;
    margin-bottom: 0;
}